<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <select class="form-control" name="toCurrencyValue" id="currencyValue">
        <option selected value="0">Chose a currency</option>
      </select>
    </div>
    <div class="col">
      <input type="text" class="form-control" name="toCurrencyValue" id="toCurrencyValue">
    </div>
  </div>
</form>