#form>img {
    float: right;
    width: 100%;
}

#form {
    width: 20vw;
    height: 7vh;
    margin: auto;
    border: 1px solid rgb(143, 143, 143);
    border-radius: 1vw;
    padding-left: 1%;
    padding-right: 1%;
    transition: 0.5s;
    overflow: hidden;
}

#form:hover,
#form:focus-within {
    border-bottom: 1px solid #007bff;
    padding-left: 0.1%;
    padding-right: 0.1%;
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: none;
    outline: none;
    
}

#form>input {
    width: 85%;
    height: 100%;
    border: none;
    border-right: 1px solid rgb(143, 143, 143);
    outline: none;
}

#form>input:focus,
#form>input:hover {
    border-right:none;
    color: #007bff;
}

#form>button {
    border-radius: 0;
}
#submit {
    width: 15%;
    height: 100%;
}