<div class="container">
  <div class="row">
    Show all
    <ui-switch [checked]="switchCheckControl()" (change)="switchChange($event)"></ui-switch>
    Show favorites
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <caption>Updated: {{ rates.date }} <br />Base: {{rates.base}}</caption>
      <thead class="thead-dark">
        <tr>
          <th scope="col">Currency</th>
          <th scope="col">Rate</th>
          <th scope="col">Save</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let key of objectKeys(rates.rates)">
          <td>{{ key }}</td>
          <td>{{ rates.rates[key] }}</td>
          <td *ngIf="inLocal(key); else elseBlock"><i class="fas fa-star" (click)="deleteFromLocalstorage(key)"></i>
          </td>
          <ng-template #elseBlock><button type="button" class="btn btn-success"
              (click)="addToStorage(key)">Save</button></ng-template>
        </tr>
      </tbody>
    </table>
  </div>

</div>
