<form id="converter" style="max-width: 30%">
  <div class="form-row">
    <div class="col">
      <label for="fromCurrecy">Choose From Currency</label>
      <select class="form-control currencies" name="fromCurrecy" id="fromCurrency">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col">
      <label for="fromCurrencyAmount">Amount:</label>
      <input type="number" class="form-control" name="fromCurrencyAmount" id="fromCurrencyAmount">
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <label for="toCurrecy">Choose Currency</label>
      <select class="form-control currencies" name="toCurrecy" id="toCurrency">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
    </div>
    <div class="col">
      <label for="toCurrencyAmount">Amount:</label>
      <input type="number" class="form-control" name="toCurrencyAmount" id="toCurrencyAmount">
    </div>
  </div>
</form>